In [11]:
import pandas as pd
import os

def load_concat(folder_path):
    all_data = []
    for file in os.listdir(folder_path):
        if file.endswith(".csv"):
            ticker = os.path.splitext(file)[0] # file name without '.csv'
            df = pd.read_csv(os.path.join(folder_path,file))
            df['ticker'] = ticker
            all_data.append(df)

    return pd.concat(all_data, ignore_index=True)

PATH = './data'
ETFS_PATH = os.path.join(PATH, 'etfs') 
STOCKS_PATH = os.path.join(PATH, 'stocks')

etfs_df = load_concat(ETFS_PATH)
stocks_df = load_concat(STOCKS_PATH)
etfs_df["type"] = "ETF"
stocks_df["type"] = "Stock"

df = pd.concat([etfs_df, stocks_df], ignore_index=True)

In [14]:
print("Shape:", df.shape)
print("Rows by type:", df['type'].value_counts())
print("Unique tickers by type:", df.groupby('type')['ticker'].nunique())
df.head()

Shape: (28151758, 9)
Rows by type: type
Stock    24197442
ETF       3954316
Name: count, dtype: int64
Unique tickers by type: type
ETF      2165
Stock    5884
Name: ticker, dtype: int64

         Date   Open   High    Low  Close  Adj Close    Volume ticker type
0  2018-08-15  11.84  11.84  11.74  11.74      11.74   27300.0   AAAU  ETF
1  2018-08-16  11.78  11.80  11.74  11.74      11.74  428400.0   AAAU  ETF
2  2018-08-17  11.80  11.82  11.77  11.82      11.82   52400.0   AAAU  ETF
3  2018-08-20  11.88  11.91  11.85  11.90      11.90   28700.0   AAAU  ETF
4  2018-08-21  11.92  11.95  11.89  11.93      11.93   30600.0   AAAU  ETF

In [17]:
print (df[df['ticker'] == 'EUPC'])

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, ticker, type]
Index: []

In [10]:
symbol_df = pd.read_csv(os.path.join(PATH, 'symbols_valid_meta.csv') )
symbol_df.head(5)

,Nasdaq Traded,Symbol,Security Name,Listing Exchange,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares
0,Y,A,"Agilent Technologies, Inc. Common Stock",N,,N,100.0,N,NaN,A,A,N
1,Y,AA,Alcoa Corporation Common Stock,N,,N,100.0,N,NaN,AA,AA,N
2,Y,AAAU,Perth Mint Physical Gold ETF,P,,Y,100.0,N,NaN,AAAU,AAAU,N
3,Y,AACG,ATA Creativity Global - American Depositary Sh...,Q,G,N,100.0,N,N,NaN,AACG,N
4,Y,AADR,AdvisorShares Dorsey Wright ADR ETF,P,,Y,100.0,N,NaN,AADR,AADR,N